<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>blank page</title>
    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<span th:text="${pic_lists.size()-1}"></span>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Steam_Looker v2.0</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> 概览</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <div class="nav" id="person" align="center" style="margin-top: 20px; margin-bottom: 20px;">
                    <div th:if="${player.getPersonastate() eq 0}">
                        <img th:src="${player.getAvatarmedium()}" alt="" style="border: #9d9d9d 4px solid; border-radius: 5px;">
                        <div style="margin-top: 20px;">
                            <i class="fa fa-steam-square fa-fw" style="color: #9d9d9d"></i>
                            <span th:text="${player.getPersonaname()}" style="color: #9d9d9d"></span>
                        </div>
                    </div>
                    <div th:unless="${player.getPersonastate() eq 0}">
                        <img th:src="${player.getAvatarmedium()}" alt="" style="border: #1ab7ea 4px solid; border-radius: 5px;">
                        <div style="margin-top: 20px;">
                            <i class="fa fa-steam-square fa-fw" style="color: #1ab7ea"></i>
                            <span th:text="${player.getPersonaname()}" style="color: #1ab7ea"></span>
                        </div>
                    </div>
                    <div th:text="|Lv ${player.getSteamlevel()}|"></div>
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html">Flot Charts</a>
                            </li>
                            <li>
                                <a href="morris.html">Morris.js Charts</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panels-wells.html">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="icons.html"> Icons</a>
                            </li>
                            <li>
                                <a href="grid.html">Grid</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="active" href="blank.html">Blank Page</a>
                            </li>
                            <li>
                                <a href="login.html">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
            </div>
            <!-- /.row -->
            <div class="col-lg-7 col-md-8 column">
                <div class="col-lg-12">
                    <h2 class="page-header">数据概览</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-gamepad fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" th:text="${ownedgame_count}"></div>
                                        <div>我的游戏</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">查看详情</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" th:text="${friend_count}"></div>
                                        <div>我的好友</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">查看详情</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-trophy fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" th:text="${achi_count}"></div>
                                        <div>游戏成就</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">查看详情</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 column">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                好友
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>昵称</th>
                                            <th>社区</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="player : ${friendAsPlayer}">
                                            <td><img th:src="${player.getAvatar()}" alt="" style="border-radius: 3px;"></td>
                                            <td><span th:text="${player.getPersonaname()}"></span></td>
                                            <td>
                                                <span th:if="${player.getCommunityvisibilitystate() eq 1}" th:text="私密"></span>
                                                <span th:if="${player.getCommunityvisibilitystate() eq 2}" th:text="仅好友"></span>
                                                <span th:if="${player.getCommunityvisibilitystate() ge 3}" th:text="公开"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="btn btn-default btn-block">查看全部</a>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 column">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                游戏
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>名称</th>
                                            <th>时长</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="game : ${favoriteGames}">
                                            <td><img th:src="${game.getImgIconUrl()}" alt="" style="border-radius: 3px;"></td>
                                            <td><span th:text="${game.getAppname()}"></span></td>
                                            <td class="text-right"><span th:text="${game.getPlaytimeForever()/60}"></span> h</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="btn btn-default btn-block">查看全部</a>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-4 column">
                <div class="col-lg-12" style="margin-top: 40px; margin-bottom: 20px;">
                    <div th:if="${favoriteGames.size() == 0}" class="carousel slide" id="carousel-size0">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="" src="images/p1.jpg"/>
                                <div class="carousel-caption">
                                    <h4>游戏数为0？</h4>
                                    <p>私密数据可能导致游戏数目无法获取</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${favoriteGames.size() == 1}" class="carousel slide" id="carousel-size1">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-size1">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="" th:src="${pic_lists.get(0).get(0)}"/>
                                <div class="carousel-caption">
                                    <h4 th:text="${favoriteGames.get(0).getAppname()}"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${favoriteGames.size() >= 2}" class="carousel slide" id="carousel-favorite">
                        <ol class="carousel-indicators">
                            <li th:each="i : ${#numbers.sequence(0, pic_lists.size()-1)}" th:if="${i == 0}" class="active" data-slide-to="0" data-target="#carousel-favorite">
                            </li>
                            <li th:each="i : ${#numbers.sequence(0, pic_lists.size()-1)}" th:if="${i >= 1}" data-slide-to="1" data-target="#carousel-favorite">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div th:each="i : ${#numbers.sequence(0, pic_lists.size()-1)}" th:if="${i == 0}" class="item active">
                                <img alt="" th:src="${pic_lists.get(0).get(0)}"/>
                                <div class="carousel-caption">
                                    <h4 th:text="${favoriteGames.get(0).getAppname()}"></h4>
                                </div>
                            </div>
                            <div th:each="i : ${#numbers.sequence(0, pic_lists.size()-1)}" th:if="${i >= 1}" class="item">
                                <img alt="" th:src="${pic_lists.get(i).get(0)}"/>
                                <div class="carousel-caption">
                                    <h4 th:text="${favoriteGames.get(i).getAppname()}"></h4>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-favorite" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a> 
                        <a class="right carousel-control" href="#carousel-favorite" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                成就
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>名称</th>
                                            <th>时长</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="achi : ${achi_recently}">
                                            <!--<td><img th:src="${achi.get}" alt="" style="border-radius: 3px;"></td>-->
                                            <!--<td><span th:text="${game.getAppname()}"></span></td>-->
                                            <!--<td class="text-right"><span th:text="${game.getPlaytimeForever()/60}"></span> h</td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="btn btn-default btn-block">查看全部</a>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/dist/js/sb-admin-2.js"></script>

</body>

</html>
