<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">登录</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="loginform" action="/goLogin" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Steamid64 / 自定义URL名称" id="input_text" name="input_text" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <label>登录方式：</label>
                                <label class="radio-inline">
                                    <input type="radio" name="logintype" value="steamid" checked="">steamid64
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="logintype" value="vanityurl">自定义URL名称
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" id="remember">记住我并自动登录
                                </label>
                            </div>
                            <input type="hidden" name="hidden_steamid" id="hidden_steamid">
                            <input type="button" class="btn btn-lg btn-success btn-block" id="login_btn" value="进入">
                        </fieldset>
                    </form>
                </div>
            </div>


        </div>

    </div>
    <br>
    <div class="col-md-4 col-md-offset-4" id="info_box">
    </div>
</div>

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

    <script src="/javascript/login.js"></script>
</body>
</html>