<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="looko.looker.release.dao.PlayerAchiMapper">

  <resultMap id="BaseResultMap" type="looko.looker.release.entity.PlayerAchi">
    <id column="steamid" jdbcType="VARCHAR" property="steamid" />
    <id column="appid" jdbcType="INTEGER" property="appid" />
    <id column="achname" jdbcType="VARCHAR" property="achname" />
    <result column="achieved" jdbcType="INTEGER" property="achieved" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="unlocktime" jdbcType="INTEGER" property="unlocktime" />
  </resultMap>

  <resultMap id="MyResultMap" type="looko.looker.release.entity.AchiModel">
    <id column="steamid" jdbcType="VARCHAR" property="steamid" />
    <id column="appid" jdbcType="INTEGER" property="appid" />
    <id column="achname" jdbcType="VARCHAR" property="achname" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="achieved" jdbcType="INTEGER" property="achieved" />
    <result column="unlocktime" jdbcType="INTEGER" property="unlocktime" />
    <result column="appname" jdbcType="VARCHAR" property="appname" />
    <result column="img_icon_url" jdbcType="VARCHAR" property="imgIconUrl" />
    <result column="img_logo_url" jdbcType="VARCHAR" property="imgLogoUrl" />
    <result column="displayName" jdbcType="VARCHAR" property="displayName" />
    <result column="hidden" jdbcType="INTEGER" property="hidden" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="icongray" jdbcType="VARCHAR" property="icongray" />
  </resultMap>

  <sql id="Base_Column_List">
    steamid, appid, achname, achieved, description, unlocktime
  </sql>

  <sql id="My_Column_List">
    player_achi.steamid, player_achi.appid, player_achi.achname, player_achi.description, achieved, unlocktime,
    appname, img_icon_url, img_logo_url, displayName, hidden, icon, icongray
  </sql>

  <select id="selectByPrimaryKey" parameterType="looko.looker.release.entity.PlayerAchiKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from player_achi
    where steamid = #{steamid,jdbcType=VARCHAR}
      and appid = #{appid,jdbcType=INTEGER}
      and achname = #{achname,jdbcType=VARCHAR}
  </select>

  <select id="selectAllAchi" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
  </select>

  <select id="selectAchieved" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
    AND achieved = 1
  </select>

  <select id="selectNotAchieved" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
    AND achieved = 0
  </select>

  <select id="selectAllAchiByGame" parameterType="looko.looker.release.entity.PlayerAchiGameKey" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
    AND appid = #{appid,jdbcType=INTEGER}
  </select>

  <select id="selectAchievedByGame" parameterType="looko.looker.release.entity.PlayerAchiGameKey" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
    AND appid = #{appid,jdbcType=INTEGER}
    AND achieved = 1
  </select>

  <select id="selectNotAchievedByGame" parameterType="looko.looker.release.entity.PlayerAchiGameKey" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
    AND appid = #{appid,jdbcType=INTEGER}
    AND achieved = 0
  </select>

  <select id="selectRecentlyAchi" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
    AND achieved = 1
    ORDER BY unlocktime DESC
  </select>

  <select id="selectMyAchiModel" parameterType="java.lang.String" resultMap="MyResultMap">
    SELECT DISTINCT
    <include refid="My_Column_List" />
    FROM player_achi, owned_game, game_schema
    WHERE player_achi.steamid = #{steamid,jdbcType=VARCHAR}
    AND player_achi.appid = owned_game.appid
    AND player_achi.appid = game_schema.appid
    AND player_achi.achname = game_schema.achname
    AND achieved = 1
    ORDER BY unlocktime DESC
  </select>

  <select id="countAllAchiByGame" parameterType="looko.looker.release.entity.PlayerAchiGameKey" resultType="java.lang.Integer">
    SELECT count(*)
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
    AND appid = #{appid,jdbcType=INTEGER}
  </select>

  <select id="countAchievedByGame" parameterType="looko.looker.release.entity.PlayerAchiGameKey" resultType="java.lang.Integer">
    SELECT count(*)
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
    AND appid = #{appid,jdbcType=INTEGER}
    AND achieved = 1
  </select>

  <select id="countGameHasAchi" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT count(DISTINCT appid)
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
  </select>

  <select id="countAllAchi" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT count(*)
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
  </select>

  <select id="countAchieved" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT count(*)
    FROM player_achi
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
    AND achieved = 1
  </select>

  <select id="countPerfectGame" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT
    count(DISTINCT appid)
    FROM
        player_achi
    WHERE
    steamid = #{steamid,jdbcType=VARCHAR}
    AND	appid NOT IN (
            SELECT
                appid
            FROM
                player_achi
            WHERE
                achieved = 0
	);
  </select>

  <select id="selectPerfectAppids" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT DISTINCT
    appid
    FROM
    player_achi
    WHERE
    steamid = #{steamid,jdbcType=VARCHAR}
    AND	appid NOT IN (
            SELECT
            appid
            FROM
            player_achi
            WHERE
            achieved = 0
    );
  </select>

  <delete id="deleteByPrimaryKey" parameterType="looko.looker.release.entity.PlayerAchiKey">
    delete from player_achi
    where steamid = #{steamid,jdbcType=VARCHAR}
      and appid = #{appid,jdbcType=INTEGER}
      and achname = #{achname,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="looko.looker.release.entity.PlayerAchi">
    insert into player_achi (steamid, appid, achname, 
      achieved, description, unlocktime)
    values (#{steamid,jdbcType=VARCHAR}, #{appid,jdbcType=INTEGER}, #{achname,jdbcType=VARCHAR}, 
      #{achieved,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{unlocktime,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="looko.looker.release.entity.PlayerAchi">
    insert into player_achi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="steamid != null">
        steamid,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="achname != null">
        achname,
      </if>
      <if test="achieved != null">
        achieved,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="unlocktime != null">
        unlocktime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="steamid != null">
        #{steamid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=INTEGER},
      </if>
      <if test="achname != null">
        #{achname,jdbcType=VARCHAR},
      </if>
      <if test="achieved != null">
        #{achieved,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="unlocktime != null">
        #{unlocktime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="looko.looker.release.entity.PlayerAchi">
    update player_achi
    <set>
      <if test="achieved != null">
        achieved = #{achieved,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="unlocktime != null">
        unlocktime = #{unlocktime,jdbcType=INTEGER},
      </if>
    </set>
    where steamid = #{steamid,jdbcType=VARCHAR}
      and appid = #{appid,jdbcType=INTEGER}
      and achname = #{achname,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="looko.looker.release.entity.PlayerAchi">
    update player_achi
    set achieved = #{achieved,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      unlocktime = #{unlocktime,jdbcType=INTEGER}
    where steamid = #{steamid,jdbcType=VARCHAR}
      and appid = #{appid,jdbcType=INTEGER}
      and achname = #{achname,jdbcType=VARCHAR}
  </update>

</mapper>