<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="looko.looker.release.dao.PlayerMapper">

  <resultMap id="BaseResultMap" type="looko.looker.release.entity.Player">
    <id column="steamid" jdbcType="VARCHAR" property="steamid" />
    <result column="communityvisibilitystate" jdbcType="INTEGER" property="communityvisibilitystate" />
    <result column="profilestate" jdbcType="INTEGER" property="profilestate" />
    <result column="personaname" jdbcType="VARCHAR" property="personaname" />
    <result column="lastlogoff" jdbcType="INTEGER" property="lastlogoff" />
    <result column="commentpermission" jdbcType="INTEGER" property="commentpermission" />
    <result column="profileurl" jdbcType="VARCHAR" property="profileurl" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="avatarmedium" jdbcType="VARCHAR" property="avatarmedium" />
    <result column="avatarfull" jdbcType="VARCHAR" property="avatarfull" />
    <result column="personastate" jdbcType="INTEGER" property="personastate" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="primaryclanid" jdbcType="VARCHAR" property="primaryclanid" />
    <result column="timecreated" jdbcType="INTEGER" property="timecreated" />
    <result column="personastateflags" jdbcType="INTEGER" property="personastateflags" />
    <result column="gameextrainfo" jdbcType="VARCHAR" property="gameextrainfo" />
    <result column="gameserverip" jdbcType="VARCHAR" property="gameserverip" />
    <result column="gameid" jdbcType="INTEGER" property="gameid" />
    <result column="loccountrycode" jdbcType="VARCHAR" property="loccountrycode" />
    <result column="locstatecode" jdbcType="VARCHAR" property="locstatecode" />
    <result column="loccityid" jdbcType="VARCHAR" property="loccityid" />
    <result column="steamlevel" jdbcType="INTEGER" property="steamlevel" />
    <result column="gameprice" jdbcType="INTEGER" property="gameprice" />
  </resultMap>

  <sql id="Base_Column_List">
    steamid, communityvisibilitystate, profilestate, personaname, lastlogoff, commentpermission, 
    profileurl, avatar, avatarmedium, avatarfull, personastate, realname, primaryclanid, 
    timecreated, personastateflags, gameextrainfo, gameserverip, gameid, loccountrycode, 
    locstatecode, loccityid, steamlevel, gameprice
  </sql>
  <sql id="Extra_Column_List">
    player.steamid, communityvisibilitystate, profilestate, personaname, lastlogoff, commentpermission,
    profileurl, avatar, avatarmedium, avatarfull, personastate, realname, primaryclanid,
    timecreated, personastateflags, gameextrainfo, gameserverip, gameid, loccountrycode,
    locstatecode, loccityid, steamlevel, gameprice
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from player
    where steamid = #{steamid,jdbcType=VARCHAR}
  </select>

  <select id="checkVisibilityState" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT
      communityvisibilitystate
    FROM player
    WHERE steamid = #{steamid,jdbcType=VARCHAR}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM player
    WHERE personaname LIKE #{personaname,jdbcType=VARCHAR}
    OR realname LIKE #{personaname,jdbcType=VARCHAR}
  </select>

  <select id="selectFriendAsPlayer" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      <include refid="Extra_Column_List" />
    FROM player
    LEFT JOIN friend
    ON player.steamid = friend.friendsteamid
    WHERE friend.steamid = #{steamid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from player
    where steamid = #{steamid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="looko.looker.release.entity.Player">
    insert into player (steamid, communityvisibilitystate, 
      profilestate, personaname, lastlogoff, 
      commentpermission, profileurl, avatar, 
      avatarmedium, avatarfull, personastate, 
      realname, primaryclanid, timecreated, 
      personastateflags, gameextrainfo, gameserverip, 
      gameid, loccountrycode, locstatecode, 
      loccityid, steamlevel, gameprice
      )
    values (#{steamid,jdbcType=VARCHAR}, #{communityvisibilitystate,jdbcType=INTEGER}, 
      #{profilestate,jdbcType=INTEGER}, #{personaname,jdbcType=VARCHAR}, #{lastlogoff,jdbcType=INTEGER}, 
      #{commentpermission,jdbcType=INTEGER}, #{profileurl,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{avatarmedium,jdbcType=VARCHAR}, #{avatarfull,jdbcType=VARCHAR}, #{personastate,jdbcType=INTEGER}, 
      #{realname,jdbcType=VARCHAR}, #{primaryclanid,jdbcType=VARCHAR}, #{timecreated,jdbcType=INTEGER}, 
      #{personastateflags,jdbcType=INTEGER}, #{gameextrainfo,jdbcType=VARCHAR}, #{gameserverip,jdbcType=VARCHAR}, 
      #{gameid,jdbcType=INTEGER}, #{loccountrycode,jdbcType=VARCHAR}, #{locstatecode,jdbcType=VARCHAR}, 
      #{loccityid,jdbcType=VARCHAR}, #{steamlevel,jdbcType=INTEGER}, #{gameprice,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertSelective" parameterType="looko.looker.release.entity.Player">
    insert into player
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="steamid != null">
        steamid,
      </if>
      <if test="communityvisibilitystate != null">
        communityvisibilitystate,
      </if>
      <if test="profilestate != null">
        profilestate,
      </if>
      <if test="personaname != null">
        personaname,
      </if>
      <if test="lastlogoff != null">
        lastlogoff,
      </if>
      <if test="commentpermission != null">
        commentpermission,
      </if>
      <if test="profileurl != null">
        profileurl,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="avatarmedium != null">
        avatarmedium,
      </if>
      <if test="avatarfull != null">
        avatarfull,
      </if>
      <if test="personastate != null">
        personastate,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="primaryclanid != null">
        primaryclanid,
      </if>
      <if test="timecreated != null">
        timecreated,
      </if>
      <if test="personastateflags != null">
        personastateflags,
      </if>
      <if test="gameextrainfo != null">
        gameextrainfo,
      </if>
      <if test="gameserverip != null">
        gameserverip,
      </if>
      <if test="gameid != null">
        gameid,
      </if>
      <if test="loccountrycode != null">
        loccountrycode,
      </if>
      <if test="locstatecode != null">
        locstatecode,
      </if>
      <if test="loccityid != null">
        loccityid,
      </if>
      <if test="steamlevel != null">
        steamlevel,
      </if>
      <if test="gameprice != null">
        gameprice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="steamid != null">
        #{steamid,jdbcType=VARCHAR},
      </if>
      <if test="communityvisibilitystate != null">
        #{communityvisibilitystate,jdbcType=INTEGER},
      </if>
      <if test="profilestate != null">
        #{profilestate,jdbcType=INTEGER},
      </if>
      <if test="personaname != null">
        #{personaname,jdbcType=VARCHAR},
      </if>
      <if test="lastlogoff != null">
        #{lastlogoff,jdbcType=INTEGER},
      </if>
      <if test="commentpermission != null">
        #{commentpermission,jdbcType=INTEGER},
      </if>
      <if test="profileurl != null">
        #{profileurl,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="avatarmedium != null">
        #{avatarmedium,jdbcType=VARCHAR},
      </if>
      <if test="avatarfull != null">
        #{avatarfull,jdbcType=VARCHAR},
      </if>
      <if test="personastate != null">
        #{personastate,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="primaryclanid != null">
        #{primaryclanid,jdbcType=VARCHAR},
      </if>
      <if test="timecreated != null">
        #{timecreated,jdbcType=INTEGER},
      </if>
      <if test="personastateflags != null">
        #{personastateflags,jdbcType=INTEGER},
      </if>
      <if test="gameextrainfo != null">
        #{gameextrainfo,jdbcType=VARCHAR},
      </if>
      <if test="gameserverip != null">
        #{gameserverip,jdbcType=VARCHAR},
      </if>
      <if test="gameid != null">
        #{gameid,jdbcType=INTEGER},
      </if>
      <if test="loccountrycode != null">
        #{loccountrycode,jdbcType=VARCHAR},
      </if>
      <if test="locstatecode != null">
        #{locstatecode,jdbcType=VARCHAR},
      </if>
      <if test="loccityid != null">
        #{loccityid,jdbcType=VARCHAR},
      </if>
      <if test="steamlevel != null">
        #{steamlevel,jdbcType=INTEGER},
      </if>
      <if test="gameprice != null">
        #{gameprice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="looko.looker.release.entity.Player">
    update player
    <set>
      <if test="communityvisibilitystate != null">
        communityvisibilitystate = #{communityvisibilitystate,jdbcType=INTEGER},
      </if>
      <if test="profilestate != null">
        profilestate = #{profilestate,jdbcType=INTEGER},
      </if>
      <if test="personaname != null">
        personaname = #{personaname,jdbcType=VARCHAR},
      </if>
      <if test="lastlogoff != null">
        lastlogoff = #{lastlogoff,jdbcType=INTEGER},
      </if>
      <if test="commentpermission != null">
        commentpermission = #{commentpermission,jdbcType=INTEGER},
      </if>
      <if test="profileurl != null">
        profileurl = #{profileurl,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="avatarmedium != null">
        avatarmedium = #{avatarmedium,jdbcType=VARCHAR},
      </if>
      <if test="avatarfull != null">
        avatarfull = #{avatarfull,jdbcType=VARCHAR},
      </if>
      <if test="personastate != null">
        personastate = #{personastate,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="primaryclanid != null">
        primaryclanid = #{primaryclanid,jdbcType=VARCHAR},
      </if>
      <if test="timecreated != null">
        timecreated = #{timecreated,jdbcType=INTEGER},
      </if>
      <if test="personastateflags != null">
        personastateflags = #{personastateflags,jdbcType=INTEGER},
      </if>
      <if test="gameextrainfo != null">
        gameextrainfo = #{gameextrainfo,jdbcType=VARCHAR},
      </if>
      <if test="gameserverip != null">
        gameserverip = #{gameserverip,jdbcType=VARCHAR},
      </if>
      <if test="gameid != null">
        gameid = #{gameid,jdbcType=INTEGER},
      </if>
      <if test="loccountrycode != null">
        loccountrycode = #{loccountrycode,jdbcType=VARCHAR},
      </if>
      <if test="locstatecode != null">
        locstatecode = #{locstatecode,jdbcType=VARCHAR},
      </if>
      <if test="loccityid != null">
        loccityid = #{loccityid,jdbcType=VARCHAR},
      </if>
      <if test="steamlevel != null">
        steamlevel = #{steamlevel,jdbcType=INTEGER},
      </if>
      <if test="gameprice != null">
        gameprice = #{gameprice,jdbcType=INTEGER},
      </if>
    </set>
    where steamid = #{steamid,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="looko.looker.release.entity.Player">
    update player
    set communityvisibilitystate = #{communityvisibilitystate,jdbcType=INTEGER},
      profilestate = #{profilestate,jdbcType=INTEGER},
      personaname = #{personaname,jdbcType=VARCHAR},
      lastlogoff = #{lastlogoff,jdbcType=INTEGER},
      commentpermission = #{commentpermission,jdbcType=INTEGER},
      profileurl = #{profileurl,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      avatarmedium = #{avatarmedium,jdbcType=VARCHAR},
      avatarfull = #{avatarfull,jdbcType=VARCHAR},
      personastate = #{personastate,jdbcType=INTEGER},
      realname = #{realname,jdbcType=VARCHAR},
      primaryclanid = #{primaryclanid,jdbcType=VARCHAR},
      timecreated = #{timecreated,jdbcType=INTEGER},
      personastateflags = #{personastateflags,jdbcType=INTEGER},
      gameextrainfo = #{gameextrainfo,jdbcType=VARCHAR},
      gameserverip = #{gameserverip,jdbcType=VARCHAR},
      gameid = #{gameid,jdbcType=INTEGER},
      loccountrycode = #{loccountrycode,jdbcType=VARCHAR},
      locstatecode = #{locstatecode,jdbcType=VARCHAR},
      loccityid = #{loccityid,jdbcType=VARCHAR},
      steamlevel = #{steamlevel,jdbcType=INTEGER},
      gameprice = #{gameprice,jdbcType=INTEGER}
    where steamid = #{steamid,jdbcType=VARCHAR}
  </update>

</mapper>